name: Build and Direct Link

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: write  # Quan trọng: Để GitHub có quyền tạo Release

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Arduino CLI
        uses: arduino/setup-arduino-cli@v1

      - name: Install ESP8266 Core
        run: |
          arduino-cli core update-index --additional-urls http://arduino.esp8266.com/stable/package_esp8266com_index.json
          arduino-cli core install esp8266:esp8266 --additional-urls http://arduino.esp8266.com/stable/package_esp8266com_index.json

      - name: Compile Sketch
        run: |
          # Xuất file .bin ra thư mục 'output'
          mkdir output
          arduino-cli compile --fqbn esp8266:esp8266:nodemcuv2 ./main --output-dir ./output

      - name: Create Release and Upload Bin
        uses: softprops/action-gh-release@v2
        with:
          tag_name: latest
          name: "Latest Firmware Build"
          files: output/*.bin
          body: "Bấm vào file .bin bên dưới để tải trực tiếp!"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          
