name: Build-Bin-Final
on: [workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Arduino CLI
        uses: arduino/setup-arduino-cli@v1

      - name: Install ESP8266 Core
        run: |
          arduino-cli core update-index --additional-urls http://arduino.esp8266.com/stable/package_esp8266com_index.json
          arduino-cli core install esp8266:esp8266 --additional-urls http://arduino.esp8266.com/stable/package_esp8266com_index.json

      - name: Compile và Build
        run: |
          # Trỏ thẳng vào thư mục main vừa tạo
          arduino-cli compile --fqbn esp8266:esp8266:nodemcuv2 ./main --output-dir ./build

      - name: Luu file .bin vao Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Firmware-Sniffer-Cua-Tui
          path: ./build/*.bin
          
